<!doctype html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Projet GLO-2005</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <header>
        <div id="box0">

        </div>
    </header>

    <main id="main">
        <div id="box1">
            <p id="log_title">Login</p>
            <br>
            <nav id="log_nav">
                <label for="log">Username</label><br>
                <input type="email"><br><br>
                <label for="password">Password</label><br>
                <input type="text"><br><br>
                <a><button id="log_button">Login</button></a>
            </nav>
            <br><br>
            <p id="inscription">Or <a href="{{ url_for('inscription') }}"><u>Sign Up</u></a></p>
        </div>
    </main>

    <footer>


    </footer>

</body>

</html>
