<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <title>Projet GLO-2005</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
</head>

<body>
    <header>
        <div id="box0">

        </div>
    </header>

    <main id="main">
        <div id="box1">
           <form id="sign" method="POST" action="/inscription">
                <label>Name</label><br>
                <input type="text" name="name"><br>
                <label>Email address</label><br>
                <input type="text" name="email"><br>
                <label>Age</label><br>
                <input type="text" name="age"><br>
                <label>Password</label><br>
                <input type="password" name="password"><br><br>
                <input type="checkbox" name="premium" value="true">Subscribe to premium<br><br>
                <button id="log_button">Confirmed</button>

           </form>
        </div>
    </main>

    <footer>


    </footer>

</body>

</html>