<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Projet GLO-2005</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</head>
<body>
    <header>
        <div id="username">
            <p>Bonjour {{ username }}</p>
        </div>
    </header>
    <main>
        <div id="fav_art">
            {% if choix == True %}
              <h1>Favoris</h1>
            {% else %}
              <h1>Article</h1>
                <div id="nouvelles">
                    {% for nouvelle in nouvelles %}
                        <h3>{{nouvelle[0]}}</h3>
                        <h4>{{nouvelle[1]}}</h4>
                        <img src="{{nouvelle[2]}}" alt="Image couldn't load">
                        <p>{{nouvelle[3]}}<br><br>{{nouvelle[4]}}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
        <div id="cie_bilan">
            <div id="cie">
                <p>Compagnie information</p>
            </div>
            <div id="bilan">
                 <p>Financial statements</p>
            </div>
        <br>
        </div>
        <div id="info_stock">
            <table id="table_stock">
                <thead>
                    <tr>
                        <th></th>
                        <th>Ticker</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Capitalisation</th>
                        <th>AVG 200</th>
                        <th>Fluctuation</th>
                        <th>Volume</th>
                    </tr>
                </thead>
                <tbody>
                    {% for stock in stocks %}
                    <tr>
                        <td>
                            {% if choix == True %}
                                <button id="fav{{ stocks[0] }}"><img src="{{ url_for('static', filename='fav.png') }}"></button>
                            {% endif %}
                            <button value='{{ stock[0] }}' onclick="afficher_info(this)"><img src="{{ url_for('static', filename='info.png') }}"></button>
                        </td>
                        <td>{{ stock[0] }}</td>
                        <td>{{ stock[1] }}</td>
                        <td>{{ stock[2] }}</td>
                        <td>{{ stock[3] }}</td>
                        <td>{{ stock[4] }}</td>
                        <td>{{ stock[5] }}</td>
                        <td>{{ stock[6] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </main>
    <footer>

    </footer>
</body>
</html>